<head>
    <title>Imagine Salon Brookfield</title>
    <script src="config/libraries/jquery/dist/jquery.min.js"></script>
    <script src="config/libraries/angular/angular/angular.js"></script>
    <script src="config/libraries/angular/angular-route/angular-route.min.js"></script>
    <script src="config/router/routes.js"></script>
    <script src="app/view/js/controllers/login.js"></script>
    <script src="config/libraries/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="config/libraries/bootswatch/flatly/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="app/view/styles/css/style.css" />
    <link rel="stylesheet" type="text/css" href="app/view/styles/css/calendar.css" />
</head>


