<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <!-- Responsive Toggle -->
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Company Logo -->
                <a class="navbar-brand"><img id="logo" src="app/view/img/ISLogo.png" /></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!-- Profile Dropdown Menu -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Profile <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><img src="app/view/img/icons/customer_gray-icon.png" />Welcome <span class="username">User</span>!</li>
                            <li><a href="#/:user/account" id="account-info-link">Account Information</a></li>
                            <li class="divider"></li>
                            <li><a href="#/login">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <!-- Customer Search -->
                        <input type="text" class="form-control" placeholder="Search customers">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/">Welcome <span class="username">User</span>!</a></li>
                    <!-- Quick Navigation Icons -->
                    <li class="active">
                        <!-- New Promotion -->
                        <a href="#"><img class="icon" src="app/view/img/icons/promotion-icon.png" /><span class="sr-only">(current)</span></a>
                    </li>
                    <li>
                        <!-- New Appointment -->
                        <a href="#"><img class="icon" src="app/view/img/icons/appointment-icon.png" /></a>
                    </li>
                    <li>
                        <!-- New Customer -->
                        <a href="#"><img class="icon" src="app/view/img/icons/add_customer-icon.png" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script>

    </script>